@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: #23261e;
}

html {
  font-family: "Montserrat", sans-serif;
}
.font-habibi {
  font-family: "Habibi", serif;
}
.font-great-vibes {
  font-family: "Great Vibes", cursive;
}
.bg-blur-2px {
  filter: blur(2px);
}
p {
  @apply tracking-wide;
}
